.App {
  padding: 20px;
  margin: 0 auto;
}

h1 {
  text-align: left;
  margin-bottom: 20px;
  font-size: larger;
}

footer {
  position: fixed;
  font-size: x-small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  text-align: left;
}

footer a {
  color: rgb(54, 128, 238);
}

.editor-container {
  display: flex;
  align-items: flex-start;
}

.left-section {
  margin-top: -28px;
  margin-right: 3px;
  min-width: 450px;
  max-width: 35rem;
}

.controls-group {
  color: rgba(20, 22, 37, 0.329);
  font-size: smaller;
}

.controls-section {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.row-count {
  width: 20px;
  text-align: center;
  font-weight: bold;
}

.input-field {
  flex: 1;
  padding: 5px;
  min-width: 50px;
}

.case-toggle {
  padding: 1px 4px;
}

.remove-button {
  padding: 5px 10px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.remove-button:hover {
  opacity: 1;
}

.replace-button {
  padding: 5px 10px;
  width: 100%;
  margin-top: 10px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.replace-button:hover {
  opacity: 1;
}

.right-section {
  flex: 1;
}

.add-button {
  padding: 5px 10px;
  width: 100%;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.add-button:hover {
  opacity: 1;
}

.right-section {
  flex: 1;
  height: calc(100vh - 80px);
}

.right-section textarea {
  width: 98.5%;
  padding: 10px;
  height: 93%;
  box-sizing: border-box;
}